#title {
  text-align: center;
  font-family: arial, sans-serif;

}

body {
  background-color: lightseagreen;
  margin: 20px;
  padding-top: 20px;
}

#employees {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#employees td, #employees th {
  padding: 8px;
}

tr:nth-child(even){background-color: white;}
tr {background-color: lightgray;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

img {
  width: 150px;
}

#theader {
  margin-left:auto;
  margin-right:auto;
}

#trheader {
  background-color: lightseagreen;
}

h1, h2 {
  margin-left:40px;
}

