#title {
  text-align: center;
  font-family: arial, sans-serif;

}

table {
  /* border: 5px solid black; */
}

body {
  background-color: lightseagreen;
  margin: 20px;
  padding-top: 20px;
}

#employees {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* border: 3px solid black; */
  width: 100%;
}

#employees td, #employees th {
  /* border: 3px solid black; */
  padding: 8px;
}

tr:nth-child(even){background-color: white;}
tr {background-color: lightgray;}

/* #employees tr:hover {background-color: #ddd;} */

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;

}

